{% extends "blog/base.html" %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <h1>Contact Us</h1>
                <p>If you have any questions or need assistance, please feel free to contact us using the following methods:</p>

                <ul>
                    <li>Email: <a href="mailto:amrullokh.komiljonov@gmail.com"> amrullokh.komiljonov@gmail.com</a></li>
                    <li>Phone: +998 (93) 0710693</li>
                </ul>
            </div>
        </div>
    </div>
{% endblock content %}